<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Fynco</h3>
        </div>

        <ul class="list-unstyled components" *ngIf="isUserSideBar">
            <p>Welcome User</p>
            <li>
                <a routerLink="./" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a routerLink="create" routerLinkActive="active">Create Application</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settings</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a>Account</a>
                    </li>
                    <li>
                        <a>Preferences</a>
                    </li>
                    <li>
                        <a>Others</a>
                    </li>
                </ul>
            </li>
            <li>
                <a>About</a>
            </li>
            <li>
                <a>Contact</a>
            </li>
        </ul>


        <ul class="list-unstyled components" *ngIf="isAgentSideBar" >
            <p>Welcome Agent</p>
            <li>
                <a routerLink="./" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Applications</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a>All</a>
                    </li>
                    <li>
                        <a>Assigned</a>
                    </li>
                    <li>
                        <a>Not Assigned</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settings</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a>Account</a>
                    </li>
                    <li>
                        <a>Preferences</a>
                    </li>
                    <li>
                        <a>Others</a>
                    </li>
                </ul>
            </li>
            <li>
                <a>Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled components" *ngIf="isInternalSideBar" >
            <p>Welcome Internal</p>
            <li>
                <a routerLink="./" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a>About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settings</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a>Account</a>
                    </li>
                    <li>
                        <a>Preferences</a>
                    </li>
                    <li>
                        <a>Others</a>
                    </li>
                </ul>
            </li>
            <li>
                <a>Contact</a>
            </li>
        </ul>



    </nav>

</div>