.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: black;
}

.sidenav a {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.sidenav mat-toolbar {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.list-container {
  margin-top:20%;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-logo {
  height: auto;
  width: 100%;
  max-width: 120px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin: auto;
}

.slogan {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.flex-box {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 0;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.home-button {
  font-size: 12px;
  color: #a7a7a7;
}

.home-button:focus {
  outline: none !important;
}

.home-button:hover {
  cursor: pointer;
}