<div class="wrapper">
    <div class="row">
        <div class="col-sm">

                <div class="assigned-agent-field">
                        Status:
                        <div class="assigned-agent-value">
                                &nbsp;{{application?.status}}
                          
                        </div>
                      </div>
<!-- 
            <div class="status-field">
                Status:
                
            </div>
            <div class="status-field-value">
                    &nbsp;{{application?.status}}
                </div> -->

        </div>
        <div class="col-sm text-right" *ngIf="!(application?.status == 'DONE')">

            <button class="text-right" mat-raised-button class="progress-button"
                (click)="progressApplication()">Progress Application</button>

        </div>
    </div>
</div>

<div *ngIf="application">
    <shared-application-profile [application]="application"></shared-application-profile>
</div>