<h1 style="text-align:center;padding: 20px">Create Application</h1>

<div class="card text-center test">
  <div class="card-body ">
    <input [(ngModel)]="newApplication.title" type="text" class="form-control " placeholder="Application Title">
    <textarea [(ngModel)]="newApplication.description" type="text" class="form-control  mt-2" style="resize: none;"
      placeholder="Write application details"></textarea>
    <br>
    <button (click)="createApplication()" class="btn btn-primary"> Create application! </button>
  </div>
</div>

<div class="card text-center test">
    <div class="card-body ">
      <input [(ngModel)]="newApplication.title" type="text" class="form-control " placeholder="Application Title">
      <textarea [(ngModel)]="newApplication.description" type="text" class="form-control  mt-2" style="resize: none;"
        placeholder="Write application details"></textarea>
      <br>
      <button (click)="createApplication()" class="btn btn-primary"> Create application! </button>
    </div>
  </div>

  <div class="card text-center test">
      <div class="card-body ">
        <input [(ngModel)]="newApplication.title" type="text" class="form-control " placeholder="Application Title">
        <textarea [(ngModel)]="newApplication.description" type="text" class="form-control  mt-2" style="resize: none;"
          placeholder="Write application details"></textarea>
        <br>
        <button (click)="createApplication()" class="btn btn-primary"> Create application! </button>
      </div>
    </div>