<div class="page">

  <mat-horizontal-stepper [linear]="isLinear" #stepper style="background-color: goldenrod">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Application</ng-template>
        <div class="container application-wrapper">
          <div class="row question-wrapper">
            <div class="col">
              <div class="container">
                <div class="application-question">Application type?</div>
                <div class="application-question-details">eg. Mortgage, Insurance or etc
                </div>
              </div>
            </div>
            <div class="col">
              <mat-form-field class="mat-form-field-application">
                <mat-label>Application Type</mat-label>
                <mat-select [(ngModel)]="applicationType" [ngModelOptions]="{standalone: true}"
                  (selectionChange)="getApplicationSubTypesTitles($event)" required>
                  <mat-option *ngFor="let type of applicationTypes" [value]="type">
                    {{ type }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row question-wrapper">
            <div class="col">
              <div class="container">
                <div class="application-question">Application Sub Type?</div>
                <div class="application-question-details">
                  Sub category of specified application
                </div>
              </div>
            </div>
            <div class="col">
              <mat-form-field class="mat-form-field-application">
                <mat-label>Application Subtype</mat-label>
                <mat-select (click)="test()" [(ngModel)]="applicationSubType" [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let subType of applicationSubTypes" [value]="subType">
                    {{ subType }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="applicationSubTypeError">
                  Select Application Type First
                </mat-error>
              </mat-form-field>
            </div>
          </div>

        </div>
        <div class="row button-wrapper">
          <div class="col">
          </div>
          <div class="col">
            <button class="next-button" mat-button (click)="checkApplicationTypeAndSubType(stepper)">Next</button>
          </div>
        </div>
      </form>
    </mat-step>




    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Income</ng-template>
        <div class="container application-wrapper">
          <div class="row question-wrapper">
            <div class="col">
              <div class="container">
                <div class="application-question">Annual Income</div>
                <div class="application-question-details">What is your yearly income?</div>
              </div>
            </div>
            <div class="col">
              <mat-form-field class="mat-form-field-application">
                <mat-label>Amount</mat-label>
                <mat-select>
                  <mat-option *ngFor="let range of moneyRanges" [value]="range">
                    {{ range }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row question-wrapper">
            <div class="col">
              <div class="container">
                <div class="application-question">Regular Overtime/Bonus</div>
                <div class="application-question-details">Any relevant bonuses?</div>
              </div>
            </div>
            <div class="col">
              <mat-form-field class="mat-form-field-application">
                <mat-label>Amount</mat-label>
                <mat-select>
                  <mat-option *ngFor="let range of moneyRanges" [value]="range">
                    {{ range }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row question-wrapper">
            <div class="col">
              <div class="container">
                <div class="application-question">Rental Income</div>
                <div class="application-question-details">Average yearly income from rental type sources</div>
              </div>
            </div>
            <div class="col">
              <mat-form-field class="mat-form-field-application">
                <mat-label>Amount</mat-label>
                <mat-select>
                  <mat-option *ngFor="let range of moneyRanges" [value]="range">
                    {{ range }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row question-wrapper">
            <div class="col">
              <div class="container">
                <div class="application-question">Business Income</div>
                <div class="application-question-details">Average yearly income from your Business/businesses</div>
              </div>
            </div>
            <div class="col">
              <mat-form-field class="mat-form-field-application">
                <mat-label>Amount</mat-label>
                <mat-select>
                  <mat-option *ngFor="let range of moneyRanges" [value]="range">
                    {{ range }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row question-wrapper">
            <div class="col">
              <div class="container">
                <div class="application-question">Other Income (Specify)</div>
                <div class="application-question-details">Average yearly income from external sources</div>
              </div>
            </div>
            <div class="col">
              <mat-form-field class="mat-form-field-application">
                <mat-label>Amount</mat-label>
                <mat-select>
                  <mat-option *ngFor="let range of moneyRanges" [value]="range">
                    {{ range }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

        </div>
        <div class="row button-wrapper">
          <div class="col">
            <button class="back-button" mat-button matStepperPrevious>Back</button>
          </div>
          <div class="col">
            <button class="next-button" mat-button matStepperNext>Next</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <form>
        <ng-template matStepLabel>Loan</ng-template>
        <div class="container application-wrapper">


          <div class="row question-wrapper">
            <div class="col">
              <div class="container">
                <div class="application-question">Expected loan?</div>
                <div class="application-question-details">
                  How much are you looking to borrow?
                </div>
              </div>
            </div>
            <div class="col">
              <mat-form-field class="mat-form-field-application">
                <mat-label>Amount</mat-label>
                <mat-select>
                  <mat-option *ngFor="let range of moneyRanges" [value]="range">
                    {{ range }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row question-wrapper">
            <div class="col">
              <div class="container">
                <div class="application-question">Loan?</div>
                <div class="application-question-details">Are you currently in debt?
                </div>
              </div>
            </div>
            <div class="col">
              <mat-form-field class="mat-form-field-application">
                <mat-label>Yes or No</mat-label>
                <mat-select>
                  <mat-option *ngFor="let boolean of yesOrNo" [value]="boolean">
                    {{ boolean }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row question-wrapper">
            <div class="col">
              <div class="container">
                <div class="application-question">Any details you would like to include?</div>
                <div class="application-question-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do
                </div>
              </div>
            </div>
            <div class="col">
              <mat-form-field>
                <textarea [(ngModel)]="newApplication.title" [ngModelOptions]="{standalone: true}" name="title"
                  class="details-form" matInput placeholder="Enter details here"></textarea>
                <mat-hint align="start"><strong>Enter relevant information only</strong> </mat-hint>
              </mat-form-field>
            </div>
          </div>

        </div>
        <div class="row button-wrapper">
          <div class="col">
            <button class="back-button" mat-button matStepperPrevious>Back</button>
          </div>
          <div class="col">
            <button class="next-button" mat-button (click)="createApplication(stepper)">Next</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="row question-wrapper">
        <div class="col">
          <div class="">
            <div class="finished-title">Application created!</div>
            <div class="finished-title-footer">Please wait patiently and a service team will reach out to you in 1 to 3
              days time</div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row button-wrapper">
        <div class="col">
        </div>
        <div class="col">
          <!-- <button class="back-button" mat-button (click)="stepper.reset()">Done</button> -->
          <button class="back-button" mat-button routerLinkActive="active" routerLink="../applications">Done</button>

        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>