<!-- <h1 style="text-align:center;padding: 20px">Create Application</h1>

<div class="card text-center test">
  <div class="card-body ">
    <input [(ngModel)]="newApplication.title" type="text" class="form-control " placeholder="Application Title">
    <textarea [(ngModel)]="newApplication.description" type="text" class="form-control  mt-2" style="resize: none;"
      placeholder="Write application details"></textarea>
    <br>
    <button (click)="createApplication()" class="btn btn-primary"> Create application! </button>
  </div>
</div>

<div class="card text-center test">
  <div class="card-body ">
    <input [(ngModel)]="newApplication.title" type="text" class="form-control " placeholder="Application Title">
    <textarea [(ngModel)]="newApplication.description" type="text" class="form-control  mt-2" style="resize: none;"
      placeholder="Write application details"></textarea>
    <br>
    <button (click)="createApplication()" class="btn btn-primary"> Create application! </button>
  </div>
</div>

<div class="card text-center test">
  <div class="card-body ">
    <input [(ngModel)]="newApplication.title" type="text" class="form-control " placeholder="Application Title">
    <textarea [(ngModel)]="newApplication.description" type="text" class="form-control  mt-2" style="resize: none;"
      placeholder="Write application details"></textarea>
    <br>
    <button (click)="createApplication()" class="btn btn-primary"> Create application! </button>
  </div>
</div> -->

<mat-horizontal-stepper [linear]="isLinear" #stepper style="background-color: goldenrod">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Application</ng-template>
      <div class="container application-wrapper">
        <div class="row question-wrapper">
          <div class="col">
            <div class="container">
              <div class="application-question">What type of financial service are you searching for?</div>
              <div class="application-question-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                doLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              </div>
            </div>
          </div>
          <div class="col">
            <mat-form-field class="mat-form-field-application">
              <mat-label>Application Type</mat-label>
              <mat-select>
                <mat-option *ngFor="let type of applicationTypes" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row question-wrapper">
          <div class="col">
            <div class="container">
              <div class="application-question">No pri suas diam periculis, ut est possit facilis hendrerit?</div>
              <div class="application-question-details">
                Decore causae no vel, ei idque nonumy vis, ut his laudem tritani adipiscing. No vix delicata
                dissentiunt, tollit dolore sapientem qui ei. Veniam tritani te sit, vis dicta appellantur no. Usu habeo
                illud ea, sumo novum quo ad.
              </div>
            </div>
          </div>
          <div class="col">
            <mat-form-field class="mat-form-field-application">
              <input matInput placeholder="Enter value">
            </mat-form-field>
          </div>
        </div>
        <div class="row question-wrapper">
          <div class="col">
            <div class="container">
              <div class="application-question">Sit legere?</div>
              <div class="application-question-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              </div>
            </div>
          </div>
          <div class="col">
            <mat-form-field class="mat-form-field-application">
              <input matInput placeholder="Enter value">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row button-wrapper">
        <div class="col">
        </div>
        <div class="col">
          <button class="next-button" mat-button matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Personal</ng-template>
      <div class="container application-wrapper">
        <div class="row question-wrapper">
          <div class="col">
            <div class="container">
              <div class="application-question">What is your yearly income?</div>
              <div class="application-question-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                doLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              </div>
            </div>
          </div>
          <div class="col">
            <mat-form-field class="mat-form-field-application">
              <mat-label>Amount</mat-label>
              <mat-select>
                <mat-option *ngFor="let range of moneyRanges" [value]="range">
                  {{ range }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row question-wrapper">
          <div class="col">
            <div class="container">
              <div class="application-question">How much are you looking to borrow?</div>
              <div class="application-question-details">
                Decore causae no vel, ei idque nonumy vis, ut his laudem tritani adipiscing. No vix delicata
                dissentiunt, tollit dolore sapientem qui ei. Veniam tritani te sit, vis dicta appellantur no. Usu habeo
                illud ea, sumo novum quo ad.
              </div>
            </div>
          </div>
          <div class="col">
            <mat-form-field class="mat-form-field-application">
              <mat-label>Amount</mat-label>
              <mat-select>
                <mat-option *ngFor="let range of moneyRanges" [value]="range">
                  {{ range }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row question-wrapper">
          <div class="col">
            <div class="container">
              <div class="application-question">Do you have any loan debt?</div>
              <div class="application-question-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              </div>
            </div>
          </div>
          <div class="col">
            <mat-form-field class="mat-form-field-application">
              <mat-label>Yes or</mat-label>
              <mat-select>
                <mat-option *ngFor="let boolean of yesOrNo" [value]="boolean">
                  {{ boolean }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row question-wrapper">
          <div class="col">
            <div class="container">
              <div class="application-question">Any details you would like to include?</div>
              <div class="application-question-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              </div>
            </div>
          </div>
          <div class="col">
          </div>
        </div>
        <div class="row question-wrapper">
          <div class="col">
            <mat-form-field>
              <textarea class="details-form" matInput placeholder="Enter details here"></textarea>
              <mat-hint align="start"><strong>Enter relevant information only</strong> </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row button-wrapper">
        <div class="col">
          <button class="back-button" mat-button matStepperPrevious>Back</button>
        </div>
        <div class="col">
          <button class="next-button" mat-button matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div class="row question-wrapper">
      <div class="col">
        <div class="">
          <div class="finished-title">Application created!</div>
          <div class="finished-title-footer">Please wait patiently and a service team will reach out to you in 1 to 3
            days time</div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row button-wrapper">
      <div class="col">
      </div>
      <div class="col">
        <button class="back-button" mat-button (click)="stepper.reset()">Done</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>