.emptyApplications {
    text-align: center;
}

.data-table-page {
    width: 80%;
    margin: 20px auto;
    font-family: "Open Sans", sans-serif;
}

.search-bar {
    text-align: center;
    margin: auto;
}

.pagination-container {
    text-align: center;
}

.pagination {
    margin: 0px 0px 0px -40px;
    display: block;
}

.search-button {
    font-family: "Open Sans", sans-serif;
    width: 5%;
    min-width: 80px;
    border-radius: 100px;
    background-color: white;
    font-size: 10px;
    font-weight: bold;
}

mat-form-field {
    font-family: "Open Sans", sans-serif;
}


.slider {
    margin: auto;
    width: 50%;
    font-family: "Open Sans", sans-serif;
    font-size: 120%;
    vertical-align: middle;
}


.application-status-value {
    color: goldenrod;
    font-weight: 900;
    float: right;
}

.agent-field {
    font-family: "Open Sans", sans-serif;
    font-size: bolder;
    font-weight: 900;
    float:left;
}

.agent-name{
    color: goldenrod;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    float:right;

}

.card {
    margin-bottom: 10px;
}

.assign-button {
    background-color: black;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.remove-button {
    background-color: red;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.progress-button {
    background-color: green;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.assign-agent-input {
    width: 100px;
    margin-right: 5px;

}


.search-button {
    font-family: "Open Sans", sans-serif;
    width: 15%;
    min-width: 160px;
    border-radius: 100px;
    background-color: white;
    margin-right: 2.5%;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mat-form-field-application {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 25px;

}

.application-body {
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.span-row-2{grid-row: span 2 / auto;}

.view-application-button {
    background-color: goldenrod;
    text-align: center;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    font-family: "Open Sans", sans-serif;
}

.application-type {
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
}

.application-layer {
    margin-left: 80px;
    margin-right: 80px;
}

.application-info-field {
    font-weight: 900;
    font-family: "Open Sans", sans-serif;

    float:left;
}

.application-info-value {
}

.view-application-button:hover {
    cursor: pointer;
}

.view-application-button:focus {
    outline:0;
}

.agent-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.agent-name:focus {
    cursor: pointer;
    outline:0;
}

.agent-none{
    color: goldenrod;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    float:right;
}