<div class="data-table-page">

    <div class="search-bar">
        <form>


            <div class="row">
                <div class="col-sm">
                    <mat-form-field>
                        <input type="text" [(ngModel)]="title" name="title" matInput placeholder="Title"
                            spellcheck="false">
                    </mat-form-field>

                    <i (click)="getApplication(null)" class="material-icons">
                        search
                    </i>
                </div>
                <!-- <div class="col-sm">
                    <mat-form-field class="mat-form-field-application">
                        <mat-label>Agent</mat-label>
                        <mat-select [(ngModel)]="hasAgent" name="hasAgent" (change)="getApplication()">
                            <mat-option [value]="true">
                                Assigned
                            </mat-option>
                            <mat-option [value]="false">
                                Not Assigned
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <div class="col-sm">
                    <mat-form-field class="mat-form-field-application">
                        <mat-label>Order</mat-label>
                        <mat-select [(ngModel)]="dateOrder" name="dateOrder" (selectionChange)="getApplication()">
                            <mat-option *ngFor="let dateOrder of dateOrders" [value]="dateOrder">
                                {{ dateOrder }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

            </div>

            <button (click)="getApplication(null)" style="display: none"> </button>

        </form>
    </div>
    <div>

        <div class="pagination-container">
            <pagination-controls class="pagination" (pageChange)="getApplication($event)"></pagination-controls>
        </div>

        <div class="card application-layer" *ngFor="let application of userApplications | paginate: config;">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">
                        #{{application.id}} {{application.title}}
                    </div>
                    <div class="col-sm">
                        Date Created:

                        {{application.dateCreated}}
                    </div>
                    <div class="col-sm application-status">
                        Status:
                        <p class="application-status-value"> {{application.status}} </p>

                    </div>
                </div>
                
                    <div class="card-text"  *ngIf="isInternal || isAgent">
                        <div class="row">
                            <div class="col-sm">
                                Client: {{application.owner.firstName}} {{application.owner.lastName}}
                            </div>
                        </div>
                    </div> 
            </div>
            <div class="card-footer">
                <div *ngIf="application.agent">



                    <div class="row">
                        <div class="col-sm" routerLinkActive="active" routerLink="../profile/{{application.agent.id}}">
                            <p class="card-text text-primary">Agent assigned: {{application.agent.firstName}} {{application.agent.lastName}} </p>
                        </div>

                        <div class="col-sm text-right" *ngIf="isInternal">
                            <button class="text-right" mat-raised-button class="remove-button"
                                (click)="removeAgentFromApplication(application)">Remove Agent</button>
                        </div>

                        <div class="col-sm text-right" *ngIf="isAgent && !(application.status == 'DONE')">
                            <button class="text-right" mat-raised-button class="progress-button"
                                (click)="progressApplication(application)">Progress Application</button>
                        </div>
                    </div>
                </div>

                <div *ngIf="!application.agent">
                    <div class="row">

                        <div class="col-sm" *ngIf="isInternal">
                            <form>
                                <input class="assign-agent-input" type="number" name="agentId" value="agentId"
                                    placeholder="Agent Id" spellcheck="false" #agentId>
                                <button class="text-right" mat-raised-button class="assign-button"
                                    (click)="assignAgentToApplication(application, agentId.value)">Assign Agent</button>
                            </form>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div> 