<div class="data-table-page">

    <div class="search-bar">
        <form>


            <div class="row">
                <div class="col-sm">
                    <mat-form-field>
                        <input type="text" [(ngModel)]="title" name="title" matInput placeholder="Title"
                            spellcheck="false">
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field class="mat-form-field-application">
                        <mat-label>Date order</mat-label>
                        <mat-select [(ngModel)]="dateOrder" name="dateOrder" 
                        (selectionChange)="getApplication()">
                            <mat-option *ngFor="let dateOrder of dateOrders" [value]="dateOrder">
                                {{ dateOrder }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="col-sm">
                    <mat-form-field class="mat-form-field-application">
                        <mat-label>Type</mat-label>
                        <mat-select [(ngModel)]="applicationType" [ngModelOptions]="{standalone: true}"
                            (selectionChange)="resetSubType(); getApplication()">
                            <mat-option *ngFor="let type of applicationTypes" [value]="type">
                                {{ type }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field class="mat-form-field-application">
                        <mat-label>Sub type</mat-label>
                        <mat-select [(ngModel)]="applicationSubType"
                            [ngModelOptions]="{standalone: true}"
                            (selectionChange)="getApplication()">
                            <mat-option *ngFor="let subType of applicationSubTypes" [value]="subType">
                                {{ subType }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="applicationSubTypeError">
                            Select Application Type First
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm"> 
                <button (click)="getApplication(null)" class="search-button" mat-button>Search</button>
            </div>

        </form>
    </div>
    <div>

        <div class="pagination-container">
            <pagination-controls class="pagination" (pageChange)="getApplication($event)"></pagination-controls>
        </div>

        <div class="card application-layer" *ngFor="let application of userApplications | paginate: config;">
            <div class="card-body" routerLinkActive="active" routerLink="../application/{{application.id}}">
                <div class="row">
                    <div class="col-sm">
                        Unique ID: #{{application.id}}
                    </div>
                    <div class="col-sm">
                        Date Created:
                        {{application.dateCreated}}
                    </div>
                    <div class="col-sm application-status">
                        Status:
                        <p class="application-status-value"> {{application.status}} </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        {{application.type}} 
                    </div>
                    <div class="col-sm">
                        {{application.subType}}
                    </div>
                    <div class="col-sm"></div>
                </div>

                <div class="card-text" *ngIf="isInternal || isAgent">
                    <div class="row">
                        <div class="col-sm">
                            Client: {{application.owner.firstName}} {{application.owner.lastName}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div *ngIf="application.agent">



                    <div class="row">
                        <div class="col-sm" routerLinkActive="active" routerLink="../profile/{{application.agent.id}}">
                            <p class="card-text text-primary">Agent assigned: {{application.agent.firstName}}
                                {{application.agent.lastName}} </p>
                        </div>

                        <div class="col-sm text-right" *ngIf="isInternal">
                            <button class="text-right" mat-raised-button class="remove-button"
                                (click)="removeAgentFromApplication(application)">Remove Agent</button>
                        </div>

                        <div class="col-sm text-right" *ngIf="isAgent && !(application.status == 'DONE')">
                            <button class="text-right" mat-raised-button class="progress-button"
                                (click)="progressApplication(application)">Progress Application</button>
                        </div>
                    </div>
                </div>

                <div *ngIf="!application.agent">
                    <div class="row">

                        <div class="col-sm" *ngIf="isInternal">
                            <form>
                                <input class="assign-agent-input" type="number" name="agentId" value="agentId"
                                    placeholder="Agent Id" spellcheck="false" #agentId>
                                <button class="text-right" mat-raised-button class="assign-button"
                                    (click)="assignAgentToApplication(application, agentId.value)">Assign Agent</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>