<div class="image">
  <mat-card class="login-box">
    <div class="logo-wrapper container">
      <img class="logo" src="/assets/images/logo.png">
      <p class="logo-footer">Finding you High Quality Advisers</p>
    </div>

    <mat-card-content>
      <form>
        <mat-form-field>
          <input type="text" [(ngModel)]="loginUserData.username" name="email" matInput placeholder="User name"
            spellcheck="false" required>
        </mat-form-field>

        <p>
          <mat-form-field>
            <input type="password" [(ngModel)]="loginUserData.password" name="password" matInput placeholder="Password"
              required>
          </mat-form-field>
        </p>

        <p *ngIf="error" class="error">
          {{ error }}
        </p>


        <button type="submit" class="sign-in" (click)="login()" mat-button>SIGN IN</button>
        <a class="sign-in-footer" mat-button>Forgot your password?</a>


        <div class="sign-up-wrapper">
          <p class="sign-up-footer">New to Fynco? Sign Up! It's Free</p>
          <button class="sign-up" routerLinkActive="active" routerLink="../register" mat-button>SIGN UP</button>
        </div>

        <div>
          <a class="card-footer" mat-button>Back to Fynco Homepage</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>