<div class="page">

    <div class="welcome-message">
        Hello user!
    </div>
    <div class="welcome-message-footer">
        Make sure your details are always up to Date!
    </div>
    <div class="button-wrapper">
        <button type="submit" class="important-button" mat-button>Why it's important</button>
        <button type="submit" class="edit-profile-button" mat-button>Edit Profile</button>
    </div>
    <div class="container table-user-info">
        <div class="row border-between">
            <div class="col">
                <div>First Name: </div>
                <div class="user-info">{{userInfo || "EMPTY"}}</div>
            </div>
            <div class="col">
                <div>Suburb:</div>
                <div class="user-info">{{userInfo || "EMPTY"}}</div>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div>Last Name:</div>
                <div class="user-info">{{userInfo || "EMPTY"}}</div>
            </div>
            <div class="col">
                <div>Preferred Languages:</div>
                <div class="user-info">{{userInfo || "EMPTY"}}</div>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div>Phone:</div>
                <div class="user-info">{{userInfo || "EMPTY"}}</div>
            </div>
            <div class="col">
                <div>Email Address:</div>
                <div class="user-info">{{userInfo || "EMPTY"}}</div>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div>Mobile:</div>
                <div class="user-info">{{userInfo || "EMPTY"}}</div>
            </div>
            <div class="col">
                <div>MemberShip:</div>
                <div class="user-info">{{userInfo || "EMPTY"}}</div>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div>Occupation:</div>
                <div class="user-info">{{userInfo || "EMPTY"}}</div>
            </div>
            <div class="col">
                <div>Member Since:</div>
                <div class="user-info">{{userInfo || "EMPTY"}}</div>
            </div>
        </div>
    </div>
</div>