.page {
    margin: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.welcome-message {
    text-align: center;
    font-size: 5vw;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 5vw;

}

.welcome-message-footer {
    text-align: center;
    font-family: 'Open Sans', sans-serif;;
    font-size: 120%;
    color: white;
}

.button-wrapper {
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Open Sans', sans-serif;;
    text-align: center;
}

.important-button {
    font-family: 'Open Sans', sans-serif;;
    width: 15%;
    min-width: 160px;
    border-radius: 100px;
    background-color: white;
    margin-right: 2.5%;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15x;
    padding-right: 15px;
}

.edit-profile-button {
    font-family: 'Open Sans', sans-serif;;
    width: 15%;
    min-width: 160px;
    border-radius: 100px;
    background-color: black;
    color: white;
    margin-left: 2.5%;
    font-size: 15px;    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15x;
    padding-right: 15px;
}

.table-user-info {
    background-color: white;
    border-radius: 15px;
    min-width: 400px;
    width: 60%;
    margin-bottom:20px;
    padding: 20px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.3);
}

.user-info-field {
    font-size: 16px;
    color: #a7a7a7;

}
.user-info {
    font-size: 18px;
    font-weight: bolder;
}

.col {
    padding: 1%;
    padding-left: 3%;
}

.border-between>[class*='col']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between>[class*='col']:first-child:before {
    display: none;
}

button:focus {
    outline: 0;
}