<div class="applicationAgentSplit applicationSide">
    <div class="row mt-3">
        <h2 class="col-md-12 mb-3" style="text-align: center"> List of all Applications</h2>
        <div class="col-md-12 mb-3" *ngFor="let application of userApplications; 
    odd as isOdd; 
    even as isEven">
            <div class="card" [class.even]="isEven" [class.odd]="isOdd">
                <div class="card-body">
                    <h3 class="card-text whiteText">#{{application.id}} {{application.title}}</h3>
                    <p class="card-text whiteText">{{application.description}}</p>
                </div>
                <div class="card-footer">
                    <p class="card-text text-primary">Owner: {{application.owner.username}}</p>
                    <div *ngIf="application.agent">
                        <p class="text-primary" style="float: left;">Agent: {{application.agent.username}}</p>
                        <button (click)="removeAgentFromApplication(application)" class="btn btn-danger" style="float: right;"> Remove Agent
                        </button>
                    </div>
                    <div class="card-text" *ngIf="!application.agent">
                        Assign Agent:
                        <input [(ngModel)]="agentId" type="text" placeholder="Agent Id">
                        <br>
                        <button (click)="assignAgentToApplication(application)" class="btn btn-primary"> Create
                            application! </button>

                    </div>

                </div>
            </div>


        </div>

        <div *ngIf="noApplications" class="emptyApplications card-body">
            <h1>
                No applications found.
            </h1>
            <h2>
                Click below to create one.
            </h2>

            <button type="button" routerLink="/create-application" routerLinkActive="active"
                class="btn btn-primary">Create application</button>

        </div>
    </div>
</div>


<div class="applicationAgentSplit agentSide">

    <div class="row mt-3">
        <h2 class="col-md-12 mb-3" style="text-align: center">Agents Available</h2>
        <div class="col-md-12 mb-3" *ngFor="let agent of allAgents; 
            odd as isOdd; 
            even as isEven">
            <div class="card" [class.even]="isEven" [class.odd]="isOdd">
                <div class="card-body">
                    <h3 class="card-text whiteText">#{{agent.id}}</h3>
                    <p class="card-text whiteText">{{agent.username}}</p>
                </div>

            </div>
        </div>

    </div>