.wrapper {
    width: 80%;
    margin: 20px auto;
    font-family: Ubuntu;
    background-color: white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

.remove-button {
    background-color: black;
    color: white;
    font-family: Ubuntu;
}

.assign-button {
    background-color: goldenrod;
    color: white;
    font-family: Ubuntu;
}


.assigned-agent-field {
    float:left;
    font-weight: bolder;
}

.assigned-agent-value{
    float:right;
    color:goldenrod;
}

.assigned-agent-button {
    float:right;
    color:goldenrod;

}

.assigned-agent-button:hover {
    cursor: pointer;
    text-decoration: underline;
}