<div class="row mt-3">
    <div class="col-md-12 mb-3" *ngFor="let application of userApplications; 
    odd as isOdd; 
    even as isEven">
        <div class="card" [class.even]="isEven" [class.odd]="isOdd">
            <div class="card-body">
                <h3 class="card-text whiteText">{{application.title}}</h3>
                <p class="card-text whiteText">{{application.description}}</p>
            </div>
            <div class="card-footer">
                <p class="card-text text-primary">Owner: {{application.owner.username}}</p>
            </div>
        </div>
    </div>
</div>